$primery-color:rgba(0, 0, 0, 0.7);
$font-color: #007bff;
$grey-color: rgba(255, 255, 255, 0.7);
$new-ba: rgba(51, 102, 255, 0.7);
$moto-ba: rgb(217, 217, 217);
$info-ba: rgb(191, 191, 191);
$article-name-ba: rgb(217, 217, 217);
$form-ba: rgb(38, 38, 38);
$form-btn-ba: rgb(0, 0, 204);